@media screen and (min-width: 1366px) {

     header {
        font-size: 16px;
    }

    header .logo img {
        height: 90px;
        width: 260px;
    }

    header .aux-block .get-price {
         padding: 10px 20px;
    }
}