@media only screen and (max-device-width: 580px) {
  :root {
    --slides-per-page: 1;
  }

  header {
    grid-template-rows: repeat(2, 1fr) 100px;
    grid-template-columns: 1fr;
    padding: 20px;
    margin: 10px 10px 0 10px;
  }

  header nav {
    display: none;
  }

  .logo {
    justify-self: center;
  }

  .text-block div:first-child {
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    font-size: 2.75rem;
    justify-self: center;
    align-self: center;
  }

  .text-block div:last-child {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
  }

  .contact {
    align-self: center;
    justify-self: center;
    width: 90%;
  }

  .big-block {
    margin: 10px;
  }

  .title {
    font-size: 1.85rem;
    margin: 10px 0px 40px 0px;
  }

  .categories-switcher {
    width: 90%;
    height: 100%;
    margin: 20px 0px;
    display: flex;
    border-radius: 40px;
  }

  .toggle {
    width: 100% !important;
    top: 0 !important;
    height: 60px !important;
  }

  .categories-switcher .switches {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .categories-switcher .switches label {
    width: 100%;
    font-size: 1.35rem;
    padding: 0;
    height: 60px;
  }

  
  .slider-nav {
    font-size: 1.5rem;
    background-color: white;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
  }

  .slider-nav img {
    height: 45px;
    width: 25px;
  }

  .slider-footer {
    width: 100%;
  }

  .products .products-description {
    font-size: 1.5rem;
    width: 50%;
  }

  .categories-switcher .switches:has(#switch-category-1:checked) .toggle {
    transform: translate(0, calc(100% * 0));
  }

  .categories-switcher .switches:has(#switch-category-2:checked) .toggle {
    transform: translate(0, calc(100% * 1));
  }

  .categories-switcher .switches:has(#switch-category-3:checked) .toggle {
    transform: translate(0, calc(100% * 2));
  }

  .categories-switcher .switches:has(#switch-category-4:checked) .toggle {
    transform: translate(0, calc(100% * 3));
  }

  .categories-switcher .switches:has(#switch-category-5:checked) .toggle {
    transform: translate(0, calc(100% * 4));
  }

  .products .slider .slider-item {
    background-size: cover;
  }


  #partners {
    height: 400px;
    padding: 25px;
  }

  .partners-list {
    mask: none;
    -webkit-mask: none;
  }

  .partner-item {
    height: 300px;
    width: 75vw;
  }

  .scroll-container .partner-item:nth-child(1),
  .scroll-container .partner-item:nth-child(9) {
    background-image: url("../images/partners/p1.jpg");
    background-size: 25em;
  }
  .scroll-container .partner-item:nth-child(2),
  .scroll-container .partner-item:nth-child(10) {
    background-image: url("../images/partners/p2.png");
    background-size: 12em;
  }
  .scroll-container .partner-item:nth-child(3),
  .scroll-container .partner-item:nth-child(11) {
    background-image: url("../images/partners/p3.png");
    background-size: 20em;
  }
  .scroll-container .partner-item:nth-child(4),
  .scroll-container .partner-item:nth-child(12) {
    background-image: url("../images/partners/p9.png");
    background-size: 18em;
  }
  .scroll-container .partner-item:nth-child(5),
  .scroll-container .partner-item:nth-child(13) {
    background-image: url("../images/partners/p5.png");
    background-size: 18em;
  }
  .scroll-container .partner-item:nth-child(6),
  .scroll-container .partner-item:nth-child(14) {
    background-image: url("../images/partners/p6.png");
    background-size: 18em;
  }
  .scroll-container .partner-item:nth-child(7),
  .scroll-container .partner-item:nth-child(15) {
    background-image: url("../images/partners/p12.jpg");
    background-size: 20em;
  }
  .scroll-container .partner-item:nth-child(8),
  .scroll-container .partner-item:nth-child(16) {
    background-image: url("../images/partners/p13.png");
    background-size: 18em;
  }
}
