@media only screen and (max-device-width: 580px) {
  :root {
    --slides-per-page: 1;
  }

  header {
    grid-template-rows: 280px repeat(2, 120px);
    grid-template-columns: 1fr;
    padding: 20px;
    margin: 10px 10px 0 10px;
  }

  header nav {
    display: none;
  }

  .logo {
    justify-self: center;
  }

  .text-block div:first-child {
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    font-size: 2.75rem;
    justify-self: center;
    align-self: center;
  }

  .text-block div:last-child {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
  }

  .contact {
    align-self: center;
    justify-self: center;
    width: 90%;
  }

  header .contact-inner {
    color: var(--main-purple-color);
    border: 2px solid var(--main-purple-color);
    font-size: 1.25rem;
    padding: 10px 15px;
  }

  .big-block {
    margin: 10px;
  }

  .title {
    font-size: 1.85rem;
    margin: 10px 0px 40px 0px;
  }

  .categories-switcher {
    width: 90%;
    height: 100%;
    margin: 20px 0px;
    display: flex;
    border-radius: 40px;
  }

  .toggle {
    width: 100% !important;
    top: 0 !important;
    height: 60px !important;
  }

  .categories-switcher .switches {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .categories-switcher .switches label {
    width: 100%;
    font-size: 1.35rem;
    padding: 0;
    height: 60px;
  }

  .products .slider {
    height: 380px;
    border-radius: 40px;
    overflow: visible;
    margin: 60px 0 50px 0;
  }

  .products .slider .slider-item:has(+ .slider-item.active),
  .products .slider .slider-item.active + .slider-item {
    opacity: 0;
  }

  .products .slider .slider-item .badge {
    top: -20px;
    padding: 10px 20px;
    font-size: 1.45rem;
  }

  .slider-nav {
    font-size: 1.5rem;
    background-color: white;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    border: 2px solid var(--main-purple-color);
  }

  .slider-nav img {
    height: 45px;
    width: 25px;
  }

  #slider-nav-prev {
    left: -25px;
    transform: translate(0%, -50%);
  }

  #slider-nav-next {
    right: -25px;
    transform: translate(0%, -50%);
  }

  .slider-footer {
    width: 100%;
  }

  .products .products-description {
    font-size: 1.35rem;
    width: 100%;
    text-align: center;
  }

  .categories-switcher .switches:has(#switch-category-1:checked) .toggle {
    transform: translate(0, calc(100% * 0));
  }

  .categories-switcher .switches:has(#switch-category-2:checked) .toggle {
    transform: translate(0, calc(100% * 1));
  }

  .categories-switcher .switches:has(#switch-category-3:checked) .toggle {
    transform: translate(0, calc(100% * 2));
  }

  .categories-switcher .switches:has(#switch-category-4:checked) .toggle {
    transform: translate(0, calc(100% * 3));
  }

  .categories-switcher .switches:has(#switch-category-5:checked) .toggle {
    transform: translate(0, calc(100% * 4));
  }

  #partners {
    height: 400px;
    padding: 25px;
  }

  .partners-list {
    margin: 20px 0;
    mask: linear-gradient(
      90deg,
      transparent,
      white 10%,
      white 90%,
      transparent
    );
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 10%,
      white 90%,
      transparent
    );
  }

  .partner-item {
    height: 300px;
    width: 75vw;
  }

  #partners .title {
    margin: 10px 0px 20px 0px;
  }

  .scroll-container .partner-item:nth-child(1),
  .scroll-container .partner-item:nth-child(12) {
    background-image: url("../images/partners/p1.jpg");
    background-size: 22em;
  }
  .scroll-container .partner-item:nth-child(2),
  .scroll-container .partner-item:nth-child(13) {
    background-image: url("../images/partners/p2.png");
    background-size: 20em;
  }
  .scroll-container .partner-item:nth-child(3),
  .scroll-container .partner-item:nth-child(14) {
    background-image: url("../images/partners/p3.png");
    background-size: 20em;
  }
  .scroll-container .partner-item:nth-child(4),
  .scroll-container .partner-item:nth-child(15) {
    background-image: url("../images/partners/p9.png");
    background-size: 18em;
  }
  .scroll-container .partner-item:nth-child(5),
  .scroll-container .partner-item:nth-child(16) {
    background-image: url("../images/partners/p5.png");
    background-size: 18em;
  }
  .scroll-container .partner-item:nth-child(6),
  .scroll-container .partner-item:nth-child(17) {
    background-image: url("../images/partners/p6.png");
    background-size: 18em;
  }
  .scroll-container .partner-item:nth-child(7),
  .scroll-container .partner-item:nth-child(18) {
    background-image: url("../images/partners/p12.jpg");
    background-size: 20em;
  }
  .scroll-container .partner-item:nth-child(8),
  .scroll-container .partner-item:nth-child(19) {
    background-image: url("../images/partners/p13.png");
    background-size: 18em;
  }
  .scroll-container .partner-item:nth-child(9),
  .scroll-container .partner-item:nth-child(20) {
    background-image: url("../images/partners/p14.png");
    background-size: 20em;
  }
  .scroll-container .partner-item:nth-child(10),
  .scroll-container .partner-item:nth-child(21) {
    background-image: url("../images/partners/p15.png");
    background-size: 20em;
  }
  .scroll-container .partner-item:nth-child(11),
  .scroll-container .partner-item:nth-child(22) {
    background-image: url("../images/partners/p16.png");
    background-size: 14em;
  }

  footer {
    height: 600px;
    padding: 25px;
    gap: 50px;
  }

  .footer-block {
    width: 100%;
  }

  footer .contact-inner {
    font-size: 1.25rem;
    padding: 7px 10px;
  }

  .footer-block.contacts .contacts-title {
    font-size: 1.65rem;
    margin-bottom: 20px;
  }
}
